<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"\>
<plist version="1.0">
<dict>
    <!-- 파일 작성자 이름 -->
    <key>AUTHOR_NAME</key>
    <string>MindRepo Team</string>

    <!-- 파일 헤더 포맷 -->
    <key>FILEHEADER</key>
    <string>
//  ___FILENAME___
//  ___PROJECTNAME___
//
//  Created by ___AUTHOR_NAME___ on ___DATE___
//
</string>
</dict>
</plist>